meta(charset='utf-8')
meta(name='X-UA-Compatible', content='IE=edge')

title
    block site_title
        = config.title

block description
    meta(name='description', content=config.description ? config.description : __('meta_description'))

meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='icon', href=url_for(theme.favicon))
style(type='text/css').
    body{margin:0;color:#34495e;font-size:15px;line-height:1.6;background-color:#fff;font-family:sourcesanspro,'Helvetica Neue',Arial,sans-serif}ul.nav,ul.post-list{margin:0;padding:0;list-style-type:none}ul{margin:1rem 0}a,a:active{color:#2c3e50;text-decoration:none}a.nav-list-link.active,a.nav-list-link:hover,a.post-title-link:hover{border-bottom:2px solid #42b983}hr{border:0}header{min-height:60px}header .logo-link{float:left}header .branding{display:inline-block;margin:10px 0 0;position:relative}header .nav{float:right;left:80px}header .logo-image{width:60px}header .nav-list-item{display:inline-block;padding:19px 10px}header .nav-list-item a{font-size:16px;line-height:1.4}.home.post-list{margin:2em 0}.home.post-list .post-list-item{padding:1em 0 2em;border-bottom:1px solid #ddd}.home.post-list .post-list-item:last-child{border-bottom:0}.home.post-list .post-content h2:before,.home.post-list .post-content h3:before,.home.post-list .post-content h4:before,.home.post-list .post-content h5:before,.home.post-list .post-content h6:before{content:''}.home.post-list .post-content>ul{list-style:outside}.home.post-list .read-more{color:#42b983}.archive{max-width:500px;margin:5em 0}.archive .post-item{padding:2px 0 0 50px;overflow:hidden}.archive .post-time,.archive .post-title-link{font-size:1rem}.archive .post-title-link{display:block;margin-left:125px;color:#42b983;word-wrap:break-word}.archive .post-title-link:hover{border-bottom:0;color:#267B54}.archive .post-info{float:left;width:125px;color:#7f8c8d}.post{padding-top:1em}.post-block .post-title{margin:.65em 0;color:#2c3e50;font-size:1.5em}.post-block .post-info{color:#7f8c8d;margin:1.2em 0}.post-block .post-info span{margin-left:.5rem}.post-block .post-info a.post-from{margin-left:.5rem;padding:3px 6px;border-radius:5px;font-size:12px;color:#fff;background-color:#E36B6B}.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6{position:relative;margin:1em 0}.post-content h2 a:before,.post-content h3 a:before,.post-content h4 a:before,.post-content h5 a:before,.post-content h6 a:before{content:"#";color:#42b983;position:absolute;left:-.7em;top:-4px;font-size:1.2em;font-weight:700}.post-content h4 a:before,.post-content h5 a:before,.post-content h6 a:before{content:""}.post-content h2,.post-content h3{font-size:1.4em}.post-content h4,.post-content h5,.post-content h6{font-size:1.3em}.post-content a{color:#42b983;word-break:break-all}.post-content img{display:block;max-width:100%;margin:1em auto}main.container{margin:2em 10px}@media screen and (min-width:700px){.wrap{width:700px;margin:0 auto}header{padding:20px 0}}@media screen and (max-width:700px){.wrap{width:100%}header{padding:20px 0}header a.logo-link,header ul.nav.nav-list{float:none;display:block;text-align:center}header li.nav-list-item{padding:10px}.archive,.home.post-list,main.container{margin-top:0}.archive .post-item{padding-left:20px}.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6{max-width:300px;left:15px}}

link(rel='stylesheet', href=url_for('css/theme.css'), media='bogus')
link(rel='search', type='application/opensearchdescription+xml', href=url_for('atom.xml'), title=config.title)
